* {
    font-family: 'Open Sans', sans-serif;
}

html,
body,
div,
canvas,
figure {
    margin: 0px;
    padding: 0px;
}

.ballina {
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("david.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ballina header {
    width: 100%;
    height: 80px;
}