* {
    font-family: 'Open Sans', sans-serif;
}

html,
body,
div,
canvas,
figure,
ul,
nav,
aside,
main,
article,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.ballina {
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("mohammad.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.flex-center-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.ballina>header>figure {
    width: 20%;
}

.ballina>header>nav {
    width: 45%;
}

.ballina>header>nav>a {
    padding: 12px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
}

.ballina>header>nav>a:hover {
    transition: all 0.25s;
    background-color: rgba(35, 35, 35, 0.3);
    color: white;
}

.ballina>header>aside {
    width: 20%;
}

.ballina>header>aside>a {
    padding: 12px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
}

.ballina>header>aside>a:hover {
    transition: all 0.25s;
    background-color: rgba(35, 35, 35, 0.3);
    color: white;
}

.ballina>main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 570px;
}

.ballina>main>section {
    width: 50%;
    height: 570px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1.5em;
}

.ballina>main>form {
    width: 30%;
    height: 450px;
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>main>form>figure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>main>form>figure>a>img {
    height: 24px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 1em 0 #555;
}

.ballina>main>form>figure>a>img:hover {
    box-shadow: 0 0 1em 0 #000;
}

.ballina>main>form>.inputs>input {
    background-color: #ddd;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
}

.ballina>main>form>button {
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: 2px solid #aaa;
    background-color: #aaa;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: all 0.25s;
}

.ballina>main>form>button:hover {
    background-color: #888;
    border: 2px solid #808080;
}

.container {
    color: white;
    width: 100%;
    height: 600px;
    background-color: rgb(20, 28, 58);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container>section {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container>section>article {
    height: 250px;
    width: 27.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1024px) {
    .ballina {
        height: 1025px;
    }
    .ballina>header {
        height: 120px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .ballina>header>figure {
        width: 40%;
        order: 1;
    }
    .ballina>header>aside {
        width: 40%;
        order: 2;
    }
    .ballina>header>nav {
        width: 100%;
        order: 3;
    }
    .ballina>main {
        height: 880px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ballina>main>form {
        width: 90%;
    }
}