* {
    font-family: 'Open Sans', sans-serif;
}

html,
body,
div,
canvas,
figure,
ul,
nav,
aside,
main,
article,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.ballina {
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("mohammad.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.flex-center-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>header {
    width: 100%;
    height: 80px;
    background-color: rgba(7, 7, 7, 0.98);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.ballina>header>figure {
    width: 20%;
}

.ballina>header>nav {
    width: 45%;
}

.ballina>header>nav>a {
    padding: 12px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
}

.ballina>header>nav>a:hover {
    transition: all 0.25s;
    background-color: rgba(35, 35, 35, 0.3);
    color: white;
}

.ballina>header>aside {
    width: 20%;
}

.ballina>header>aside>a {
    padding: 12px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
}

.ballina>header>aside>a:hover {
    transition: all 0.25s;
    background-color: rgba(35, 35, 35, 0.3);
    color: white;
}

.ballina>main {
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>main>section {
    width: 50%;
    height: 570px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1.5em;
}

.ballina>main>form {
    width: 30%;
    height: 450px;
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>main>form>figure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ballina>main>form>figure>a>img {
    height: 24px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 1em 0 #555;
}

.ballina>main>form>figure>a>img:hover {
    box-shadow: 0 0 1em 0 #000;
}

.ballina>main>form>.inputs>input {
    background-color: #ddd;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
}

.ballina>main>form>button {
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: 2px solid #aaa;
    background-color: #aaa;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: all 0.25s;
}

.ballina>main>form>button:hover {
    background-color: #888;
    border: 2px solid #808080;
}

.container {
    color: #001;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container>span {
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding: 40px 0 40px 0;
}

.container>section {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container>section>article {
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container>section>hr {
    margin: 0;
}

.container>section>article>.text {
    width: 50%;
}

.container>section>article>figure {
    text-align: center;
    height: fit-content;
    width: 50%;
}

footer {
    background-color: #ccc;
    height: 450px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer>nav {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer>nav>a,
footer>section>p>a {
    color: #002;
    margin: 5px;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 768px) {
    .ballina {
        height: 1200px;
    }
    .ballina>header {
        height: 120px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .ballina>header>figure {
        width: 40%;
        order: 1;
    }
    .ballina>header>figure>a>img {
        height: 24px;
    }
    .ballina>header>aside {
        width: 40%;
        order: 2;
    }
    .ballina>header>nav {
        width: 100%;
        order: 3;
    }
    .ballina>main {
        height: 1200px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ballina>main>form {
        width: 90%;
    }
    .container {
        background-color: white;
        box-shadow: none;
    }
    .container>span {
        font-size: 28px;
        font-weight: 600;
    }
    .container>section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .container>section>article {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .container>section>hr {
        margin: 30px 0 0 0;
    }
    .container>section>article>.text {
        width: 95%;
    }
    .container>section>article>.text>h3 {
        margin: 25px 0;
    }
    .container>section>article>figure>#web {
        width: 80px;
    }
    .container>section>article>figure {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        order: 2;
    }
    footer {
        height: 750px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    footer>nav {
        height: fit-content;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer>figure {
        width: 100%;
        text-align: center;
    }
    footer>figure>img {
        height: 24px;
    }
    footer>nav>a,
    footer>section>p>a {
        color: #002;
        margin: 5px;
    }
}