header {
    position: static;
}

main {
    display: flex;
    flex-direction: column;
}

main>.quotes {
    width: 100%;
    padding: 50px 0 50px 0;
}

main>.quotes>h2 {
    color: #ccc;
    font-weight: 300;
    text-align: center;
}

main>.courses {
    width: 100%;
    height: fit-content;
}

main>.courses>.languages {
    width: 100%;
    height: fit-content;
    padding: 0 0 75px 0;
}

main>.courses>.languages>article {
    width: 80%;
    height: 125px;
    padding: 10px;
    border-radius: 7px;
    margin: 50px auto;
    background-color: #1F2229;
    transition: 200ms;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

main>.courses>.languages>article>figure,
main>.courses>.languages>article>p,
main>.courses>.languages>article>button {
    margin: auto;
    color: #ccc;
}

main>.courses>.languages>article>button {
    background-color: rgb(33, 187, 82);
    cursor: pointer;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    transition: all 0.25s;
}

main>.courses>.languages>article>button:hover {
    background-color: rgb(18, 118, 49);
}

main>.courses>.languages>article:hover {
    box-shadow: -0.6em 0.6em black;
}

.python {
    margin: auto;
}

.java {
    margin: auto;
}

.csharp {
    margin: auto;
}

.cpp {
    margin: auto;
}

.sql {
    margin: auto;
}

.htmlcss {
    margin: auto;
}

.javascript {
    margin: auto;
}